<h1>Hola {{user.name}}, estás en tu perfil.</h1>


<a href="/index">Home</a>

<figure>
  <img src="{{user.imgPath}}" alt="">
</figure>



<p>Nombre: {{user.name}}</p>
<br>
<p>Teléfono: {{user.phone}}</p>
<br>
<p>Email: {{user.email}}</p>
<br>



<a href="/editProfile">Editar perfil</a>

<a href="/auth/logout">Cerrar sessión</a>