<h1>Hola {{user.name}}, estás en tu perfil.</h1>


<a href="/">Home</a>


<img src="{{user.imgPath}}" alt="profilePhoto">




<p>Nombre: {{user.name}}</p>
<br>
<p>Teléfono: {{user.phone}}</p>
<br>
<p>Email: {{user.email}}</p>
<br>

<P>PERFIL DE TRAINER</P>


<a href="/editProfile">Editar perfil</a>

<a href="/auth/logout">Cerrar sessión</a>