{{#with trainer}}

<header>
  <div class="container pt30 header">
    <h2>{{name}}</h2>
  </div>
</header>

<section class="profile">
  <figure class="d-flex">
    {{#if imgPath}}
    <img src="{{imgPath}}" alt="profilePhoto">
    {{/if}}
  </figure>
  <ul>
    <li>
      <p><span>Nombre: </span>{{name}}</p>
    </li>
    <li>
      <p><span>Teléfono: </span>{{phone}}</p>
    </li>
    <li>
      <p><span>E-mail: </span>{{email}}</p>
    </li>
    <li>
      <p><span>Creado:
        </span>{{formatTime created_at day="numeric" month="long" year="numeric" hour="numeric" minute="numeric"}}</p>
    </li>
    <li>
      <a href="/{{_id}}/delete">
        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="trash-alt"
          class="small icon  svg-inline--fa fa-trash-alt fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 448 512">
          <path fill="#D13434"
            d="M32 464a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V128H32zm272-256a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zM432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16z">
          </path>
        </svg>
      </a>
    </li>
  </ul>
</section>

<div class="container">
  <section class="trainers">
    <h2>Workouts</h2>
    <section class="list">
      {{#each workouts}}
      <a href="/workouts/{{_id}}">
        <article class="workout-partial">
          {{>workoutCard}}
        </article>
      </a>
      {{/each}}
    </section>
  </section>
</div>

{{/with}}
{{!-- AXIOS --}}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{{!-- SCRIPT PERSONALIZADOS --}}
<script type="text/javascript" src="../../../javascripts/profile.js"></script>